@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&family=Montserrat:wght@400;600&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 6px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(58, 58, 58);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
}

 
body {
    background-color: #000000;
    background-image: url("../assets/background_neon.jpg");
}



/* HEADER */

.header {
    background-color: #000000;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 25px;
    text-align: center;
    margin-left: 10px;
}

.texto {
    flex-direction: row;
    display: flex;
    align-items: center;

}

.header span {
    margin: 0 16px;
}

.header .user {
    width: 10vh;
    margin-left: 150px;
    justify-content: start;
    display: flex;
    align-items: center;
    max-height: 60px;
    max-width: 60px;
}

.logo {
    max-height: 60px;
}

.container_header {
    margin: 0;
    padding: 0;
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagem a{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    height: 180px;
    margin-left: 150px;
}

/* NAVBAR */

.container_nav{
    display: flex;
    justify-content: center;    
}

.navbar {
    background-image: linear-gradient(#000000, #2b0847, #771891, #000000);
    width: 100px;
    height: 85vh;
    margin-right: 195vh;
    position: fixed;
}

.navbar p {
    display: none;
    justify-content: space-around;
    margin-left: 200px;   
}

.navbar a {
    list-style: none;
    font-weight: 500;
    font-size: 20px;
}

.navbar:hover {
    width: 400px;
}

.navbar:hover p {
    margin-bottom: 90px;
    display: block;
    margin-top: -20px;
    display: flex;
    justify-content: center;
}

aside {
    display: flex;
    justify-content: center;
}

ul {
    padding: 50px;
    height: 90%;
    margin-top: 7vh;
    width: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

li {
    height: 100px;
    text-decoration: none;
}



/* FOOTER */

footer {
    background-color: #000000;
    text-align: center;
    font-size: 15px;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}



/* Alterei aqui */

/* pagina mural */
.dash-right {
    display: flex;
    padding: 3%;
    width: 58%;
    height: fit-content;
    background-color: #2a2828;
    position: relative;
    margin-top: 20px;
    border-radius: 10px;
    left: 26%;
  }


.dash-right .avisos {
  width: 100%;
  /* border: 3px solid pink; */
  color: rgb(216, 216, 216);
  font-family: "Exo 2", sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 100%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 100%;
}

.dash-right .avisos .div-form label {
  width: 100%;
}

.dash-right .avisos .div-form input {
  width: 50%;
  border-radius: 5px;
  color: #000000;
}

.dash-right .avisos .div-form #titulo{
  width: 70%;
  color: black;
  border: 3px solid #9f12cf;
  background-color: white;
  height: 30px;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 70%;
  color: black;
  border: 3px solid #9f12cf;
  background-color: white;
  border-radius: 5px;
}


.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ac33ce;
  width: 150px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons > * {
  margin-left: 30px;
}

